* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  min-width: 1000px;
  position: relative;
  font-family: "Microsoft YaHei";
  background-image: url("../img/bg.png");
  background-repeat: repeat-y;
}
a:link {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a img {
  border: 0 none;
}
ul {
  list-style-type: none;
}

/* header */
.header {
  height: 978px;
  background-image: url('../img/header.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  z-index: -11;
}

/* main */
.main {
  position: relative;
  width: 100%;
  margin: auto;
}
/* parts-1 */
.parts {
  position: relative;
  width: 100%;
  margin: auto;
}
.position {
  width: 1000px;
}
.position>div {
  position: absolute;
  top: -313px;
}
.position>div>div {
  height: 213px;
  padding: 0 30px;
  background-color: #fff6e7;
}
.position>div>div div:first-child {
  text-align: center;
}
.position>div>div div img {
  margin: 30px auto 20px;
}
.position>div>div>div {
  font-size: 14px;
  line-height: 30px;
  text-align: justify;
  /* text-justify:distribute-all-lines; */
}

/* parts-2 */
.parts-2>div:first-child {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.parts-2>div:first-child>div {
  position: relative;
  width: 1000px;
  margin: auto;
}
.icon-arrow-left,
.icon-arrow-right {
  height: 50px;
  width: 50px;
  background-image: url("../img/icon.png")
}
.icon-arrow-left {
  background-position: 0 0;
  z-index: 11;
}
.icon-arrow-right {
  background-position: -120px 0;
  z-index: 11;
  right: 0;
}
.parts .prev,
.parts .next {
  opacity: 0.9;
  position: absolute;
  top: 50%;
  background-color: #303030;
}
.parts .heroes {
  height: 417px;
}
.parts .hero {
  position: absolute;
}
.mask {
  z-index: 11;
  background-color: #211707;
  background-color: #211707eb;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  overflow: hidden;
}
.mask-left {
  position: absolute;
  top: 0;
  left: -1000px;
  width: 100%;
  height: 425px;
  overflow: hidden;
}
.mask-right {
  position: absolute;
  top: 0;
  left: 1000px;
  width: 100%;
  height: 425px;
  overflow: hidden;
}

.parts-title {
  width: 1000px;
  color: #ffffff;
  margin: auto;
  font-size: 24px;
}
.parts-title div {
  position: absolute;
  top: -70px;
  display: inline-block;
  padding: 5px 0;
  border-bottom: 2px solid #ebcd9e;
}
.parts-title div img {
  vertical-align: middle;
}
.parts-title div span {
  vertical-align: middle;
}

/* parts-3 */
.parts-3>div {
  width: 1000px;
  color: #ffffff;
  margin: auto;
}
.parts-3>div:first-child {
  font-size: 24px;
  margin: 35px auto 25px;
}
.parts-3>div:first-child div {
  display: inline-block;
  padding: 5px 0;
  border-bottom: 2px solid #ebcd9e;
}
.parts-3>div:first-child div img {
  vertical-align: middle;
}
.parts-3>div:first-child div span {
  vertical-align: middle;
}
.parts-3 ul {
  overflow: hidden;
}
.parts-3 li {
  float: left;
  width: 24%;
  margin-right: 1%;
  margin-bottom: 20px;
}
.parts-3 li>div:first-child {
  height: 200px;
  background-color: #fff6e7;
}
.parts-3 li>div:first-child img {
  display: inherit;
  width: 100%;
}
.parts-3 li .intro {
  font-size: 14px;
  background-color: #b1905b;
  padding: 15px;
}
.parts-3 li .intro>div:first-child {
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
}
.parts-3 li .intro>div:first-child>div:first-child {
  font-size: 24px;
}
.parts-3 li .desc {
  text-align: justify;
  line-height: 22px;
  margin: 15px 0 30px;
}
.parts-3 li .more {
  display: inline-block;
  width: 100%;
  line-height: 33px;
  text-align: center;
  vertical-align: middle;
  background-color: #967138;
  border-radius: 2px;
  cursor: pointer;
}
.parts-3 li .load {
  display: none;
}


body .bottom {
  margin: 25px auto 0;
}