html {
  font-size: 100px;
}
body {
  width: 100%;
}
.main {
  width: 90%;
  padding: 0 45px;
  margin-top: 25px;
}
body .nav_header {
  width: 100%;
}
body .bottom {
  width: 100%;
}


/* header */
.header {
  height: 680px;
  background-image: url(../img/header_m.png);

}



/* parts-1 */
.position {
  width: 100%;
}
.position>div {
  position: relative;
  top: 0;
  overflow: hidden;
}
.position>div>div {
  /* height: auto; */
  padding: 50px 0 60px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.position>div>div div:first-child img {
  transform: scale(2);
}
.position .mobile {
  font-size: 0.16rem;
  padding: 20px 90px 0;
}
.position .mobile p {
  text-indent: 90px;
  /* text-indent: 2em; */
  line-height: 64px;
}


/* parts-2 */
.parts-2 {
  margin-top: 155px;
}
.parts-2>div:first-child>div {
  width: 100%;
  overflow: hidden;
}
.parts-title {
  width: 100%;
  font-size: 0.48rem;
}
.parts-title div {
  width: 100%;
  top: -125px;
  padding-bottom: 15px;
}
.parts .prev, .parts .next {
  display: none;
}

/* parts-3 */
.parts .hero {
  overflow: hidden;
}
.parts .hero img {
  max-width: 1000px;
  max-height: 417px;
}
.parts-3>div {
  width: 100%;
}
.parts-3 li {
  float: none;
  width: 100%;
  margin: auto auto 45px;
}
.parts-3 li:first-child {
  margin: auto auto 45px;
}
.parts-3 li>div:first-child {
  height: auto;
}
.parts-3 li .intro {
  font-size: 0.36rem;
  line-height: 60px;
  padding: 30px 90px;
}
.parts-3 li .intro>div:first-child>div:first-child {
  font-size: 0.48rem;
}
.parts-3 li .desc {
  line-height: 60px;
  margin: 60px 0 45px;
}
.parts-3 li .intro>div:first-child {
  padding-bottom: 50px;
}
.parts-3 li .more {
  text-align: center;
  background-color: #b1905b;
}
.parts-3 li .more a {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #967138;
}

.parts-3 li .load {
  display: block;
  text-align: center;
  margin-top: 35px;
}
.parts-3 li .load a {
  display: inline-block;
}
.parts-3 li .load a img {
  animation: logAnimation linear 3s infinite;
}
@keyframes logAnimation {
  0% {
    transform: scale(1.0)
  }
  25% {
    transform: scale(1.1)
  }
  50% {
    transform: scale(1.0)
  }
  75% {
    transform: scale(0.9)
  }
  100% {
    transform: scale(1.0)
  }
}
.parts-3>div:first-child div {
  display: block;
  font-size: 0.48rem;
  padding-bottom: 15px;
  margin-bottom: 35px;
}


/* nav_bar */
body .nav_header {
  position: relative;
}
body .nav_header .nav-con {
  width: 100%;
  font-size: 0.20rem;
}
.open .dropdown-menu {
  font-size: 0.16rem;
}
.hidden-m {
  display: none;
}

/* bottom */
body .bottom {
  display: none;
}
